@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
}
div#menu{
	border: 1px ;
	height: 70px;
	width: 100%;
	background: #C67677;
	color: #ffffff;
	font-size: 20px;
}

div#menu ul{
	list-style: none;
	float: left;	
}
div#menu ul li{
	float :left;
	position: relative;
}
div#menu ul li a{
	color: #FFFFFF;/* màu chữ trắng*/
	background: #84B4C8;/* màu nền xanh */
	text-decoration: none;
	padding:10px;
	height: 30px;
	display:block;
}
div#menu ul li a:hover{
	font-weight: bold;
	background: #FFFFFF;
	color:#84B4C8;
}

div#menu ul li ul{
	display: none;
	position:absolute;
	width: 230px;
	border:2px solid #FFFFFF;
}
div#menu ul li:hover ul{
	display:block;
	
}
div#menu ul li ul li{
	float: left;
	width: 230px;
	border-bottom:1px  solid #FFFFFF;
	
}
